<%-include('partials/header')-%>
<h1>Hello</h1>
<p><%=homeContent%></p>

<%homeBlogContent.forEach(function(post){ %>
<!--      <%# console.log(post.blogTitle) %>
     <%# console.log(post.blogContent) %> -->
     <% let title =  post.blogTitle %> 
     <% let content = post. blogContent %> 
    <h2><%=title%></h2>
    <p><%=content.substring(0,100) + ' ...' %>
          <a href='posts/:<%=title%>'>Read More</a>
    </p>
  
    <!-- content.substring(0,100) is because to show only 100 charecter of over blog content -->

<%})%>
<!-- <%# for(var i=0;i< homeBlogContent.length ; i++) { %> -->
<!-- <%# let title =  homeBlogContent[i].blogTitle %>-->
<!--<%#let content = homeBlogContent[i]. blogContent %> -->
<!--   <h2><%#=title%></h2>-->
<!--   <p><%#=content%></p>-->
<!--<%# }%> -->
<%-include('partials/footer')-%>
